<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Pitch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{{ url_for('main.new_pitch') }}">New Pitch</a>
      <a class="nav-item nav-link active" href="{{url_for('main.profile',uname=current_user.username)}}">My Profile</a>
       <ul class="nav navbar-nav navbar-right d-flex flex-row bd-highlight mb-3">
        {% if current_user.is_authenticated %}

        <li class="p-2 bd-highlight"><a class="nav-item nav-link" href="{{ url_for('main.new_pitch') }}">Submit A Pitch</a></li>

        <li><a href="{{url_for('main.index',uname=current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li class="p-2 bd-highlight"><a href="{{url_for('auth.register')}}">Register</a></li>
        <li class="divider"></li>
        <li class="p-2 bd-highlight"><a href="{{url_for('auth.login')}}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
